<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="Splunk" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>http://localhost:8088</url>
        <token>127e1ea6-5634-4ee2-9d90-963b6695da54</token>
        <batch_size_count>1</batch_size_count>
        <batch_size_bytes>32768</batch_size_bytes>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="Splunk" />
    </root>

</configuration>
